.cover {
    max-width: 1184px;
    padding: 5.75rem 0;
    margin: 0 auto;
  }
  
  @media screen and (max-width: 768px) {
    .cover {
      padding: calc(5.75rem - 2px) 0 calc(5.75rem - 4px);
 } 
  }
  