.footer {
    max-width: 1184px;
    flex-wrap: wrap;
    margin: 0 auto;
    padding:  0 3rem 1.5rem;    
    display: flex;
    justify-content: space-between;
  }
  
  @media screen and (max-width: 768px) {
    .footer {
      padding:0 1.5rem 1.5rem;
    }
  }
  
  @media screen and (max-width: 540px) {
    .footer {
      flex-direction: column;
    }
  }